/* 导入变量 */
@import url('./styles/variables.css');

/* 导入工具类 */
@import url('./styles/utilities.css');

/* 导入滚动条样式 */
@import url('./styles/scrollbar.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'PingFang SC',
    'Microsoft YaHei',
    '微软雅黑',
    'Source Han Sans SC',
    'Noto Sans SC',
    sans-serif;
}

.query-form .ant-form-item {
  margin-bottom: 20px;
}

.ant-tag {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.ant-select-dropdown .ant-select-item-option-disabled.ant-select-item-option-selected {
  background-color: rgba(0, 0, 0, 0.01);
}
